<div class="pokedex-navbar">
    <div class="pokedex-header">
        <a class="navbar-brand" href="/pokedex">Pokedex</a>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="pokedex-nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="pokedex-nav flex-column">
            <div class="pokedex-nav-item">
                <NavLink class="pokedex-nav-link" href="pokedex">
                    <span class="pokedex-icon" aria-hidden="true"></span> Pokedex
                </NavLink>
            </div>
            <div class="pokedex-nav-item">
                <NavLink class="pokedex-nav-link" href="typefilter">
                    <span class="pokedex-icon" aria-hidden="true"></span> Filter
                </NavLink>
            </div>
        </nav>
    </div>
</div>
